build/bin
build/linux/AppDir
build/linux/appimagetool
build/linux/appimagetool-extract
node_modules
frontend/dist
*.exe
.vscode/
info.txt
.cursor/plans
build/windows/installers/tmp
.kilo
.raggrep/
.playwright-mcp
.go-mcp
.idea/
